{
    "presets": [
        // [
            "@babel/preset-env"
        // ,{"useBulitInts":"useage"}],
        ,"@babel/preset-react"
    ]
    // "plugins": [["@babel/plugin-proposal-decorators",{}]]
}